.navi {
  background-color: rgb(142, 230, 150);
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
}

body {
  background-color: #f9f7f2;
  margin: 0%;
}
