@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.navi {
  background-color: #f9f7f2;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0%;
  gap: 40px;
  color: #5f7464;
}

.navi h1 {
  margin-left: 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 550px;
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 14px;
}

.search-bar:focus-within {
  border-color: green;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.4);
}

.search-bar input::placeholder {
  color: gray;
}

.hero {
  display: flex;
  align-items: center;
}

.hero-text {
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.6;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
}

body {
  background-color: #f9f7f2;
  margin: 0;
}
